/* stylelint-disable custom-property-pattern */

.markdown {
  min-height: 100%;
  text-align: left;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: var(--chakra-fonts-heading);
  }

  h1 {
    margin-top: var(--chakra-spacing-8);
    font-size: var(--chakra-font-sizes-3xl);
    font-weight: var(--chakra-font-weights-bold);
  }

  h2 {
    margin-top: var(--chakra-spacing-6);
    font-size: var(--chakra-font-sizes-2xl);
    font-weight: var(--chakra-font-weights-bold);
  }

  h3 {
    margin-top: var(--chakra-spacing-4);
    font-size: var(--chakra-font-sizes-xl);
    font-weight: var(--chakra-font-weights-bold);
  }

  h4 {
    margin-top: var(--chakra-spacing-2);
    font-size: var(--chakra-font-sizes-lg);
  }

  h5 {
    margin-top: var(--chakra-spacing-1);
    font-size: var(--chakra-font-sizes-md);
  }

  p {
    margin-top: var(--chakra-spacing-2);
  }

  ul,
  ol {
    padding: var(--chakra-spacing-1) var(--chakra-spacing-8);
  }

  details {
    padding-left: var(--chakra-spacing-4);
  }

  pre {
    padding: var(--chakra-spacing-1);
    margin: var(--chakra-spacing-1) 0;
    overflow-x: scroll;
    background-color: var(--chakra-colors-shadowed);
    border-radius: var(--chakra-spacing-1);
  }

  img {
    max-width: 100%;
    height: auto;
  }

  table {
    margin: var(--chakra-spacing-1) 0;
  }

  th {
    color: var(--chakra-colors-highlighted);
  }

  th,
  td {
    padding: var(--chakra-spacing-1);
  }
}
