@import "/details.variable"

=phone
  @media #{$isPhone}
    justify-content: flex-start

.mainContents
  min-width: 100%
  min-height: 100vh
  flex: 1
  +flex-style

.wrapper
  width: 100%
  +flex-style

.page
  @extend .wrapper
  padding-bottom: 2vh

.home
  @extend .wrapper
  min-height: 100vh

.layout
  @extend .wrapper
  padding: 0 $padding

.enumerate-contents-wrapper
  @extend .layout
  justify-content: flex-start
  @media #{$isPhone}
    flex-direction: column
    justify-content: end

.avatarWrapper,
.avatar
  height: 100%
  +cancel-background-color

.avatar
  width: 37%
  object-fit: contain
  padding-right: 5%
  @media #{$isPhone}
    width: 30%

.cardWrapper
  @extend .wrapper
  +flex-component
  +components-size
  +phone

.card
  +fully-spread
  +flex-style(nowrap,flex-start)
  +make-padding($isPc)
  @media #{$large}
    +make-padding($large)
  @media #{$isPhone}
    text-align: left
    +make-padding($isPhone)
