{
  "extends": ["next/core-web-vitals", "prettier"],
  "plugins": ["chakra-ui"],
  "parserOptions": {
    "project": true
  },
  "rules": {
    "sort-imports": "error",
    "@next/next/no-img-element": "off",
    "chakra-ui/props-order": "error",
    "chakra-ui/props-shorthand": "error",
    "chakra-ui/require-specific-component": "error"
  }
}
