{
  "extends": [
    "@approvers/stylelint-config-scss",
    "stylelint-config-recess-order"
  ],
  "customSyntax": "postcss-scss",
  "rules": {
    "selector-class-pattern": "^[a-z][a-zA-Z]+$"
  }
}
