@use "../color.variable";
@use "../media.variable";

.avatar {
  @include color.clear(back);

  width: 5rem;
  height: 5rem;
  object-fit: contain;
  padding-right: 5%;

  @media #{media.query(phone)} {
    width: 4rem;
    height: 4rem;
  }
}
