@use "../color.variable";
@use "../media.variable";

.avatar {
  @include color.clear(back);

  width: 37%;
  height: 100%;
  object-fit: contain;
  padding-right: 5%;

  @media #{media.query(phone)} {
    width: 30%;
  }
}
