@use "../color.variable";
@use "../details.variable";

.avatar {
  @include color.clear(back);

  width: 37%;
  height: 100%;
  object-fit: contain;
  padding-right: 5%;

  @media #{details.get-media-query(phone)} {
    width: 30%;
  }
}
