@use "../details.variable";
@use "../color.variable";

.button {
  cursor: pointer;
  transition-timing-function: ease-in-out;

  @include details.with-font-size(normal, 0.1rem);

  &:hover {
    @include color.main(light, bold-underline);
  }

  * {
    color: inherit;
  }
}
