@use "../color.variable";

.link {
  @include color.text();

  padding: 0 0.1rem;
  font-style: italic;
  text-decoration: solid;
  cursor: pointer;
  text-decoration-line: underline;
}

.iconLink {
  max-width: 1rem;
  max-height: 1rem;
  cursor: pointer;
}
