@use "../details.variable";
@use "../color.variable";
@use "../media.variable";

.headerLayout {
  @include details.flex-style();

  flex-flow: column;
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 1%;
  border-bottom: details.border(2px);

  @include color.main(normal, border);
}

.buttonWrapper {
  display: flex;
  justify-content: space-around;
  min-width: 50%;

  @media #{media.query(middle)} {
    min-width: 90%;
  }
}
