@use "../wrapper.module";
@use "../details.variable";
@use "../color.variable";

.headerLayout {
  @extend .layout;

  padding: 1rem 0;
  margin-bottom: 1%;
  border-bottom: details.border(2px, color.get-sub-color("main"));
}

.buttonWrapper {
  display: flex;
  justify-content: space-around;
  min-width: 50%;

  @media #{details.get-media-query("middle")} {
    min-width: 90%;
  }
}

.button {
  @include details.about-font(details.get-fontsize("main") + 0.1rem);
  @include details.hover-link();
}

.button > a {
  @include details.cancel-background-color();
}
