@use "../wrapper.module";
@use "../details.variable";
@use "../color.variable";

.headerLayout {
  @extend .layout;

  padding: 1rem 0;
  margin-bottom: 1%;
  border-bottom: details.border(2px);

  @include color.main(normal, border);
}

.buttonWrapper {
  display: flex;
  justify-content: space-around;
  min-width: 50%;

  @media #{details.$middle} {
    min-width: 90%;
  }
}

.button {
  cursor: pointer;
  transition-timing-function: ease-in-out;

  @include details.with-font-size(normal, 0.1rem);

  &:hover {
    @include color.main(light, bold-underline);
  }
}

.button > a {
  @include color.clear();
  @include color.text();
}
