@use "../color.variable";
@use "../details.variable";
@use "../media.variable";

.wrapper {
  flex-flow: column;
  width: 100%;
  margin-bottom: auto;

  @include details.flex-style();
  @include media.padding(left);
}

.page {
  flex-flow: column;
  width: 100%;
  min-height: 100vh;
  margin-bottom: auto;

  @include details.flex-style();
}
