@use "../details.variable";
@use "../color.variable";
@use "../media.variable";

.buttonWrapper {
  @include details.flex-style();

  flex-flow: column;
  align-items: flex-start;

  & > div {
    width: 100%;
    padding: 0 2rem 0 1rem;
    margin: 1rem 0;

    &::before {
      @include color.text();

      font-size: 1.5rem;
      content: "| ";
    }
  }
}

.separator:not(:first-child) {
  display: inline-block;
  width: 100%;
  content: "";
  border-top: 1px solid;

  @include color.sub(dark, border-top);
}

.navButton {
  @media #{media.query(phone)} {
    @include color.text(sub, front);
    @include color.sub(dark, back);

    position: fixed;
    bottom: 0.5rem;
    left: 0.5rem;
    z-index: 20;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    border-radius: 50%;
  }

  @media not #{media.query(phone)} {
    display: none;
  }
}

.navWrapper {
  @include color.sub(dark);
  @include color.back();

  position: fixed;
  top: 4rem;
  left: 0.5rem;
  z-index: 10;
  border-radius: 1.5rem;
  box-shadow: 4px 4px 6px;
  transition: opacity 0.13s;
}

.navWrapper[data-showing="false"] {
  @media #{media.query(phone)} {
    opacity: 0;
  }
}

.canceler {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;

  @media not #{media.query(phone)} {
    pointer-events: none;
  }
}

.canceler[data-showing="false"] {
  @media #{media.query(phone)} {
    pointer-events: none;
  }
}
