@use "../details.variable";
@use "../wrapper.module";

.paperWrapper {
  @include wrapper.wrapper();
  @include details.components-size();

  @media #{details.get-media-query(phone)} {
    justify-content: flex-start;
  }
}

.paper {
  @include details.fully-spread();
  @include details.flex-style(nowrap, flex-start);
  @include details.make-padding(pc);

  @media #{details.get-media-query(large)} {
    @include details.make-padding(large);
  }

  @media #{details.get-media-query(phone)} {
    text-align: left;

    @include details.make-padding(phone);
  }
}
