@use "../details.variable";
@use "../color.variable";

.nav {
  position: relative;
  width: 100%;
  padding-bottom: 2rem;

  .left {
    @include details.with-font-size(little);
    @include color.main(dark);

    position: absolute;
    left: 0;
  }

  .right {
    @include details.with-font-size(little);
    @include color.main(dark);

    position: absolute;
    right: 0;
  }
}
