@use "../details.variable";
@use "../color.variable";

.aboutUs {
  display: block;
  width: 100%;
  padding-bottom: 2rem;
}

.text {
  @extend .text;
}

.sentence {
  @include details.with-font-size(little);

  font-weight: normal;
}

.bigLetter {
  @include details.with-font-size(big);

  margin-right: 0.5rem;

  @include color.main(dark);
}
