@use "../details.variable";
@use "../color.variable";

.aboutUs {
  display: block;
  width: 100%;
  padding-bottom: 2rem;

  p {
    font-weight: normal;

    @include details.with-font-size(little);

    span {
      margin-right: 0.5rem;
      color: color.main(dark);

      @include details.with-font-size(big);
    }
  }
}
