@use "../color.variable";
@use "../details.variable";

.icon {
  color: color.sub();

  &:hover {
    color: darken(color.sub(), color.$amount);
  }
}

.icon > svg {
  width: 0.1rem + details.get-fontsize("main");
  height: 0.1rem + details.get-fontsize("main");

  @media #{details.$isPhone} {
    width: details.get-fontsize("sub") - 0.1rem;
    height: details.get-fontsize("sub") - 0.1rem;
  }
}
