@use "../color.variable";
@use "../details.variable";

.icon {
  @include color.sub();

  &:hover {
    @include color.sub(dark);
  }
}

.icon > svg {
  width: 1.2rem;
  height: 1.2rem;

  @media #{details.get-media-query(phone)} {
    width: 1rem;
    height: 1rem;
  }
}
