@use "../color.variable";
@use "../details.variable";

.icon {
  color: color.sub();

  &:hover {
    color: darken(color.sub(), color.$amount);
  }
}

.icon > svg {
  width: 0.1rem + details.font-size();
  height: 0.1rem + details.font-size();

  @media #{details.$isPhone} {
    width: details.font-size(big) - 0.1rem;
    height: details.font-size(big) - 0.1rem;
  }
}
