@use "../details.variable";

.title {
  padding: 1vh 0;
  text-align: center;

  @include details.with-font-size(title);

  @media #{details.get-media-query(phone)} {
    @include details.with-font-size(title, -0.7rem);
  }
}

.subtitle {
  padding-bottom: details.$min-padding;
  font-style: italic;
  text-align: center;

  @include details.with-font-size(big);

  @media #{details.get-media-query(middle)} {
    padding-bottom: details.$padding;

    @include details.with-font-size(big, -0.3rem);
  }

  @media #{details.get-media-query(min)} {
    @include details.with-font-size(big, -0.5rem);
  }
}
