@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap&text=A.Q")
@import "../details.variable"
@import "../color.variable"
@import "../wrapper.module"

.homeMainContents
  @extend .wrapper
  padding: 0 $min-padding
  flex-direction: column
  position: relative

.title
  padding-top: $padding
  padding-bottom: 0.5rem
  position: relative
  text-align: center
  +about-font(4)
  @media #{$middle}
    +about-font($title-fontsize - 0.3)
  @media #{$min}
    +about-font($title-fontsize - 0.5)

.subtitle
  font-style: italic
  padding-bottom: $min-padding
  +about-font($sub-fontsize)
  @media #{$middle}
    padding-bottom: $padding
    +about-font($sub-fontsize - 0.3)
  @media #{$min}
    +about-font($sub-fontsize - 0.5)

.aboutUs
  padding-bottom: 2rem
  display: block
  width: 100%

.aboutUs
  p
    font-weight: normal
    +about-font($main-fontsize - 0.1)
    span
      color: $dark-main-color
      margin-right: 0.5rem
      font-family: "Roboto Mono", Roboto, monospace
      +about-font($sub-fontsize)

.title::after
  content: ""
  position: absolute
  left: 50%
  z-index: -1
  +transform(-4rem, -30)
  +triangle()
  @media #{$isPhone}
    +triangle($thickness: 10vh)

.genkaiLink
  padding: 0 0.3rem
  cursor: pointer
  color: $dark-main-color
  &:hover
    +hover-line
