@import "../details.variable"
@import "../color.variable"
@import "../wrapper.module"

.joinPage
  .title
    text-align: center
  *
    text-align: left

.joinText
  @extend .text
  margin: 2% auto
  padding: 0 $min-padding + 2%

.color
  +hover-line
