@import "../details.variable"
@import "../color.variable"
@import "../wrapper.module"

.joinPage
  flex-direction: column
  padding: 0 $min-padding
  min-width: 80%
  +flex-style

.joinText
  @extend .text
  padding: 2%

.color
  +hover-line
