@import ../wrapper.module
@import ../color.variable
@import ../details.variable

.memberMainContents
  @extend .enumerate-contents-wrapper

.linksContainer
  +phone
  padding-top: $min-padding

.linksContainer > * + *
  padding-left: 1.1rem
  @media #{$isPhone}
    padding-left: 1.2rem

.icon
  color: $sub-color
  &:hover
    color: darken($sub-color, $amount)

.icon > svg
  width: 0.1 + $main-fontsize + rem
  height: 0.1 + $main-fontsize + rem
  @media #{$isPhone}
    width: $sub-fontsize - 0.1 + rem
    height: $sub-fontsize - 0.1 + rem
