@use "../color.variable";
@use "../details.variable";
@use "../wrapper.module";

.main {
  @include wrapper.enumerate-contents-wrapper();
}

.blog {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blog > h1 {
  text-align: center;
}

.cardText {
  @include details.flex-style(wrap, flex-start);

  flex-direction: column;
  align-items: flex-start;
}

.pageLink {
  @include details.with-font-size(little);

  font-style: italic;
  cursor: pointer;

  &:hover {
    text-decoration: none;

    @include details.hover-neon(6);
  }
}

.blogTitle {
  @extend .name;
}

.blogContents {
  @include wrapper.enumerate-contents-wrapper();

  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.blogSplash {
  align-self: flex-start;
  width: 37%;
  object-fit: contain;
  padding-right: 5%;

  @media #{details.get-media-query(phone)} {
    width: 30%;
  }
}
