@use "../color.variable";
@use "../details.variable";
@use "../media.variable";

.blogCard {
  display: flex;
  align-items: center;
  width: min(100%, 80vw);
  padding: 0.5rem;
  margin: 1rem auto;
  border-right: 1px solid;
  border-bottom: 2px solid;

  @include color.main(normal, border);

  img {
    flex-shrink: 0;
    padding-right: 1rem;
  }
}

.main {
  display: grid;
  grid-template-columns: minmax(15em, 1fr);
  width: 80%;
}

.cardText {
  @include details.flex-style(wrap, flex-start);

  flex-direction: column;
  align-items: flex-start;
}

.pageLink {
  @include color.main();
  @include details.with-font-size(little);
}

.blogTitle {
  @include details.with-font-size(normal);

  @media #{media.query(phone)} {
    @include details.with-font-size(normal, -0.1rem);
  }
}

.blogContents {
  @include details.enumerate-contents-wrapper();

  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.blogSplash {
  align-self: flex-start;
  width: 37%;
  object-fit: contain;
  padding-right: 5%;

  @media #{media.query(phone)} {
    width: 30%;
  }
}
