@use "../color.variable";
@use "../details.variable";
@use "../wrapper.module";

.main {
  @extend .enumerate-contents-wrapper;
}

.cardText {
  @include details.flex-style(wrap, flex-start);

  flex-direction: column;
  align-items: flex-start;
}

.pageLink {
  @include color.main();
  @include details.with-font-size(little);
}

.blogTitle {
  @extend .name;
}

.blogContents {
  @extend .enumerate-contents-wrapper;

  flex-direction: column;
  width: 100%;
  min-height: 100%;
}
