@use "../details.variable";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap&text=A.Q");

.title {
  position: relative;
  padding-top: details.$padding;
  padding-bottom: 0.5rem;
  text-align: center;

  @include details.with-font-size(title, 1rem);

  @media #{details.$middle} {
    @include details.with-font-size(title, -0.3rem);
  }

  @media #{details.$min} {
    @include details.with-font-size(title, -0.5rem);
  }
}

.subtitle {
  padding-bottom: details.$min-padding;
  font-style: italic;

  @include details.with-font-size(big);

  @media #{details.$middle} {
    padding-bottom: details.$padding;

    @include details.with-font-size(big, -0.3rem);
  }

  @media #{details.$min} {
    @include details.with-font-size(big, -0.5rem);
  }
}

.title::after {
  position: absolute;
  left: 50%;
  z-index: -1;
  content: "";

  @include details.transform(-4rem, -30deg);
  @include details.triangle();

  @media #{details.$isPhone} {
    @include details.triangle(10vh);
  }
}
