@use "../color.variable";
@use "../details.variable";
@use "../media.variable";

@mixin triangle($thickness: 15vh) {
  border: details.border($thickness);

  @include color.clear(border);
  @include color.main(light, border-top);
  @include color.main(light, border-left);
}

.splash::after {
  position: absolute;
  left: 50%;
  z-index: -1;
  content: "";

  @include triangle();

  transform: skew(-30deg, 0deg) translateX(-300px) translateY(-320px);
}
