.splash {
  position: absolute;
  z-index: -200;
  user-select: none;
  opacity: 0.7;
  transform: translateY(5rem);
}

.splash > svg {
  position: relative;
  z-index: -1;
}

.splash > svg > text {
  font-family: serif;
  font-size: 150px;
  text-align: center;
  fill: transparent;
  stroke-dasharray: 1400px 9999999px;
  stroke-width: 2px;
  animation-name: hero-stroke;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes hero-stroke {
  from {
    stroke-dasharray: 0 9999999px;
  }

  to {
    stroke-dasharray: 1400px 9999999px;
  }
}
