@use "../color.variable";
@use "../details.variable";
@use "../components/triangle.module";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap&text=A.Q");

.splash {
  position: relative;
  padding-top: details.$padding;
  padding-bottom: 0.5rem;
  text-align: center;

  @include details.with-font-size(title, 1rem);

  @media #{details.get-media-query("middle")} {
    @include details.with-font-size(title, -0.3rem);
  }

  @media #{details.get-media-query("min")} {
    @include details.with-font-size(title, -0.5rem);
  }
}

.subtitle {
  padding-bottom: details.$min-padding;
  font-style: italic;

  @include details.with-font-size(big);

  @media #{details.get-media-query(middle)} {
    padding-bottom: details.$padding;

    @include details.with-font-size(big, -0.3rem);
  }

  @media #{details.get-media-query(min)} {
    @include details.with-font-size(big, -0.5rem);
  }
}

.aboutUs {
  display: block;
  width: 100%;
  padding-bottom: 2rem;

  .ans {
    font-weight: normal;

    @include details.with-font-size(main, -0.1rem);

    .ansAlphabet {
      margin-right: 0.5rem;

      @include color.main(normal, shadow-color);
      @include details.with-font-size("sub");
    }
  }
}

.title::after {
  position: absolute;
  left: 50%;
  z-index: -1;
  content: "";

  @include details.transform(-4rem, -30deg);
  // @include details.triangle();

  // @media #{details.get-media-query("phone")} {
  //   @include details.triangle(10vh);
  // }
}

.genkaiLink {
  @include details.hover-link();
  @include color.text();

  padding: 0 0.1rem;
  font-style: italic;
}

.color {
  @include details.hover-line();
}
