@use "../color.variable";
@use "../details.variable";
@use "../media.variable";

.linkText {
  @extend .text;

  max-width: 32.5rem;
  padding: 2% 0;
  margin: 0 auto;

  @media #{media.query(phone)} {
    padding: 2% 2% + details.$min-padding;
  }

  li {
    @include details.with-font-size(big);

    text-align: center;
    list-style-type: none;

    a {
      @include color.main(light, bold-underline);
    }
  }
}
