@use "../details.variable";
@use "../color.variable";
@use "../wrapper.module";

.joinPage {
  min-width: 80%;

  .title {
    text-align: center;
  }

  * {
    text-align: left;
  }
}

.linkText {
  @extend .text;

  max-width: 32.5rem;
  padding: 2% 0;
  margin: 0 auto;

  @media #{details.get-media-query("phone")} {
    padding: 2% 2% + details.$min-padding;
  }
}

.color {
  @include details.hover-neon(6, true);
}
