@use "../wrapper.module";
@use "../color.variable";
@use "../details.variable";

.memberMainContents {
  @extend .enumerate-contents-wrapper;
}

.linksContainer {
  margin-top: details.$min-padding;

  @include wrapper.phone();
}

.linksContainer > * + * {
  margin-left: 1.1rem;

  @media #{details.get-media-query("phone")} {
    margin-left: 1.2rem;
  }
}

.icon {
  color: color.get-sub-color("main");

  &:hover {
    color: darken(color.get-sub-color("main"), color.$amount);
  }
}

.icon > svg {
  width: 0.1rem + details.get-fontsize("main");
  height: 0.1rem + details.get-fontsize("main");

  @media #{details.get-media-query("phone")} {
    width: details.get-fontsize("sub") - 0.1rem;
    height: details.get-fontsize("sub") - 0.1rem;
  }
}
