@use "../wrapper.module";
@use "../color.variable";
@use "../details.variable";

.memberMainContents {
  @extend .enumerate-contents-wrapper;
}

.linksContainer {
  margin-top: details.$min-padding;

  @include wrapper.phone();
}

.linksContainer > * + * {
  margin-left: 1.1rem;

  @media #{details.get-media-query("phone")} {
    margin-left: 1.2rem;
  }
}

.icon {
  color: color.get-base-color("light");

  &:hover {
    @include details.hover-neon(6);
    @include details.neon-icon ();
  }
}

.icon > svg {
  width: details.get-fontsize("sub") !important;
  height: details.get-fontsize("sub");

  @media #{details.get-media-query("phone")} {
    width: details.get-fontsize("sub") - 0.1rem;
    height: details.get-fontsize("sub") - 0.1rem;
  }
}
