@use "../wrapper.module";
@use "../details.variable";

.memberMainContents {
  @extend .enumerate-contents-wrapper;
}

.linksContainer {
  margin-top: details.$min-padding;

  @include wrapper.phone();
}

.linksContainer > * + * {
  margin-left: 1.1rem;

  @media #{details.$isPhone} {
    margin-left: 1.2rem;
  }
}
