@use "../details.variable";
@use "../color.variable";

.policyText {
  @extend .text;

  max-width: 32.5rem;
  padding: 2% 0;
  margin: 0 auto;

  @media #{details.$isPhone} {
    padding: 2% 2% + details.$min-padding;
  }

  p {
    margin: 0.6em;
    line-height: 1.7;
    text-indent: 1em;
  }
}

.color {
  @include details.hover-line();
}

.link {
  padding: 0 0.1rem;
  font-style: italic;
  color: color.get-text-color("main");
  text-decoration: solid;
  cursor: pointer;
  text-decoration-line: underline;
}
