@use "../color.variable";
@use "../details.variable";

.policyText {
  @extend .text;

  p {
    margin: 0.6em;
    line-height: 1.7;
    text-indent: 1em;
  }
}

.color {
  @include color.main(light, bold-underline);
}
