---
import Layout from "../components/layout.astro";
import { Link } from "../components/link";
import { Subtitle } from "../components/title";
---

<Layout title="404 Not found">
  <div>
    <Subtitle>ページが見つかりません。</Subtitle>
    <Link href="/">トップページへ戻る</Link>
  </div>
</Layout>
