---
import { getCollection } from "astro:content";

import { BlogCard } from "../components/blog-card";
import Layout from "../components/layout.astro";
import type { Blog } from "../lib/blog-fetch";

const blogs: { data: Blog }[] = await getCollection("blogs");
---

<Layout title="ブログ">
  <div class="grid grid-rows-1 gap-4">
    {blogs.map(({ data }) => <BlogCard {...data} />)}
  </div>
</Layout>
