---
import { getCollection } from "astro:content";

import { BlogCard, type BlogCardProps } from "../components/blog-card";
import Layout from "../components/layout.astro";

const blogs = (await getCollection("blogs")) as { data: BlogCardProps }[];
---

<Layout title="ブログ">
  <div class="grid grid-rows-1 gap-4">
    {blogs.map(({ data }) => <BlogCard {...data} />)}
  </div>
</Layout>
