---
import Layout from "../components/layout.astro";
import { Questions } from "../components/questions";
import * as styles from "../scss/pages/index.module.scss";
---
<Layout title="">
  <div class="flex flex-col items-center">
    <div class={styles.splash}>
      <svg width="300" height="150" viewBox="0 0 300 150" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <linearGradient id="rainbow" x1="35%" y1="35%" x2="95%" y2="95%">
            <stop offset="0%" stopColor="orange" />
            <stop offset="20%" stopColor="#eded00" />
            <stop offset="40%" stopColor="green" />
            <stop offset="60%" stopColor="cyan" />
            <stop offset="80%" stopColor="blue" />
            <stop offset="100%" stopColor="violet" />
          </linearGradient>
        </defs>
        <text
          x="150"
          y="150"
          textAnchor="middle"
          textLength="270"
          stroke="url(#rainbow)"
          className="kasu"
        >
          カス
        </text>
      </svg>
    </div>
    <h2 className="pt-32 pb-2 text-5xl text-center">
      <em>&dagger;限界開発鯖&dagger;</em> へようこそ！
    </h2>
    <i className="pb-32 text-xl">
      Over Limit Development
    </i>
  </div>
  <Questions />
</Layout>
