.markdown {
  min-height: 100%;
  text-align: left;

  & h1 {
    margin-top: calc(var(--spacing) * 8);
    font-size: 2.25rem;
    font-weight: 700;
    line-height: calc(2.5 / 2.25);
  }

  & h2 {
    margin-top: calc(var(--spacing) * 6);
    font-size: 1.875rem;
    font-weight: 700;
    line-height: calc(2.25 / 1.875);
  }

  & h3 {
    margin-top: calc(var(--spacing) * 4);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: calc(2 / 1.5);
  }

  & h4 {
    margin-top: calc(var(--spacing) * 2);
    font-size: 1.25rem;
    line-height: calc(1.75 / 1.25);
  }

  & h5 {
    margin-top: calc(var(--spacing) * 1);
    font-size: 1.125rem;
    line-height: calc(1.75 / 1.125);
  }

  & p {
    margin-top: calc(var(--spacing) * 2);
  }

  & a {
    text-decoration: underline;
  }

  & ul,
  & ol {
    padding: calc(var(--spacing) * 1) calc(var(--spacing) * 8);
  }

  & li {
    list-style-type: disc;
  }

  & details {
    padding-left: calc(var(--spacing) * 4);
  }

  & pre {
    padding: calc(var(--spacing) * 1);
    margin: calc(var(--spacing) * 1) 0;
    overflow-x: scroll;
    color: var(--secondary-foreground);
    background-color: var(--secondary);
    border-radius: calc(var(--spacing) * 1);
  }

  & img {
    max-width: 100%;
    height: auto;
  }

  & table {
    margin: calc(var(--spacing) * 1) 0;
  }

  & th {
    color: var(--accent-foreground);
  }

  & th,
  & td {
    padding: calc(var(--spacing) * 1);
  }
}
