@use "sass:map";

$basis: #fff;
$warn: #f99f48;
$amount: 15;

@function get-main-color($color) {
  $main: (
    dark: #345f31,
    main: #00ff63,
    light: #68ffa2,
  );

  @return map.get($main, $color);
}

@function get-sub-color($color) {
  $sub: (
    dark: #3a517c,
    main: #89b0f8,
    light: #b9d0fb,
  );

  @return map.get($sub, $color);
}

@function get-text-color($color) {
  $text: (
    main: #101e2b,
    sub: #a3bacf,
  );

  @return map.get($text, $color);
}
