@use "sass:map";

$basis: #fff;
$warn: #f99f48;
$amount: 15;

@function get-main-color($color) {
  $main: (dark: #409689, main: #6ac1B7, light: #bfe9db);
  @return map.get($main, $color)
}

@function get-sub-color($color) {
  $sub: (main: #517d99, light: #dfefed);
  @return map.get($sub, $color)
}

@function get-text-color($color) {
  $text: (main: #202e3b, sub: #a3bacf);
  @return map.get($text, $color);
}
