@use "sass:map";

$basis: #fff;
$red: #cb3535;
$_main: (
  dark: #2c5ea5,
  main: #228dff,
  light: #7bb2f9,
);

@mixin applyColor($color, $target: front) {
  @if $target == front {
    color: $color;
  } @else if $target == back {
    background-color: $color;
  } @else if $target == border {
    border-color: $color;
  } @else if $target == border-top {
    border-top-color: $color;
  } @else if $target == border-right {
    border-right-color: $color;
  } @else if $target == border-bottom {
    border-bottom-color: $color;
  } @else if $target == border-left {
    border-left-color: $color;
  } @else if $target == bold-underline {
    background: linear-gradient(transparent 70%, $color 0%);
  }
}

@mixin clear($target: front) {
  @include applyColor(transparent, $target);
}

@mixin neutral($color, $target) {
  $basis: (
    dark: #222,
    light: #fcfcfc,
  );

  @include applyColor(map.get($basis, $color), $target);
}

@mixin main($color: normal, $target: front) {
  @include applyColor(map.get($_main, $color), $target);
}

@mixin sub($color: normal, $target: front) {
  $amount: 15;
  $sub: (
    dark: #4b6167,
    normal: #68939c,
    light: #a0b6bc,
  );

  @include applyColor(map.get($sub, $color), $target);
}

@mixin text($color: normal, $target: front) {
  $text: (
    normal: #fcfcfc,
    sub: #a3bacf,
  );

  @include applyColor(map.get($text, $color), $target);
}

@mixin text-shadow($color: normal, $target, $shadow-size) {
  $_color: map.get($_main, $color);

  @if $target == text {
    text-shadow: 0 0 10px #{$basis}, 0 0 20px #{$_color}, 0 0 30px #{$_color};
  } @else if $target == marker {
    background-color: $basis;
    box-shadow:
      0 0 $shadow-size + 0 $basis,
      0 0 $shadow-size + 4px $_color,
      0 0 $shadow-size + 14px $_color,
      0 0 $shadow-size + 24px $_color,
      0 0 $shadow-size + 34px $_color,
      0 0 $shadow-size + 44px $_color,
      0 0 $shadow-size + 54px $_color;
  }
}

@mixin neon-icon {
  $main: map.get($_main, normal);

  filter: drop-shadow(0 0 5px $basis) drop-shadow(0 0 12px $main);
}
