@use "./color.variable";
@use "sass:map";

$transition: 0.4s;
$padding: 10%;
$min-padding: 5%;
$transition: all 300ms 0s ease;

@function get-media-query($size) {
  $media-size: (
    phone: "(max-width: 600px)",
    pc: "(min-width: 600px)",
    min: "(max-width: 360px)",
    middle: "(max-width: 1030px)",
    large: "(min-width: 1600px)",
  );

  @return "screen and " + map.get($media-size, $size);
}

@mixin flex-style($warp: wrap, $justify: center) {
  display: flex;
  flex-wrap: $warp;
  align-items: center;
  justify-content: $justify;
}

@mixin with-font-size($size: normal, $offset: 0) {
  $fontsize: (
    title: 3rem,
    big: 1.6rem,
    normal: 1.1rem,
    little: 1rem,
  );

  font-size: map.get($fontsize, $size) + $offset;
  line-height: map.get($fontsize, $size) + $offset + 0.4rem;
}

@mixin make-padding($display-size: phone, $pos: "") {
  @if $display-size == large {
    padding#{$pos}: 10%;
  }

  @if $display-size == pc {
    padding#{$pos}: 5%;
  }

  @if $display-size == phone {
    padding#{$pos}: 3%;
  }
}

@mixin fully-spread {
  width: 100%;
  height: 100%;
}

@mixin components-size {
  @media #{get-media-query("pc")} {
    max-width: 33%;
  }

  @media #{get-media-query("large")} {
    max-width: 25%;
  }

  @media #{get-media-query("middle")} {
    max-width: 50%;
  }

  @media #{get-media-query("phone")} {
    max-width: 100%;
  }
}

@mixin transform($translateY: 0, $deg: 0deg) {
  transform: skew($deg, 0deg) translateX(-60%) translateY($translateY);
}

@function border($thickness) {
  @return $thickness solid;
}

.name {
  @include with-font-size(big);

  @media #{get-media-query("phone")} {
    @include with-font-size(big, -0.1rem);
  }
}

.text {
  max-width: 32.5rem;
  padding: 2%;
  margin: 0 auto;

  @media #{get-media-query("phone")} {
    padding: 2% 2% + $min-padding;
  }

  & > * {
    @include with-font-size(little);
  }

  & > * + * {
    padding-top: 0.1rem;
  }
}
