@use "./media.variable";
@use "sass:map";

$transition: all 300ms 0s ease;
$padding: 10%;
$min-padding: 5%;

@mixin flex-style($warp: wrap, $justify: center) {
  display: flex;
  flex-wrap: $warp;
  align-items: center;
  justify-content: $justify;
}

@mixin with-font-size($size: normal, $offset: 0) {
  $fontsize: (
    title: 3rem,
    big: 1.6rem,
    normal: 1.1rem,
    little: 1rem,
  );

  font-size: map.get($fontsize, $size) + $offset;
  line-height: map.get($fontsize, $size) + $offset + 0.4rem;
}

@mixin fully-spread {
  width: 100%;
  height: 100%;
}

@mixin transform($translateY: 0, $deg: 0deg) {
  transform: skew($deg, 0deg) translateX(-60%) translateY($translateY);
}

@mixin enumerate-contents-wrapper {
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  padding: 0 $padding;
  margin-bottom: auto;

  @include flex-style();
}

@function border($thickness) {
  @return $thickness solid;
}

.text {
  max-width: 32.5rem;
  padding: 2%;
  margin: 0 auto;

  @media #{media.query(phone)} {
    padding: 2% 2% + $min-padding;
  }

  & > * {
    @include with-font-size(little);
  }

  & > * + * {
    padding-top: 0.1rem;
  }
}
