@use "sass:map";

@function query($size) {
  $media-size: (
    large: "(2080px <= width)",
    middle: "(width <= 2080px)",
    pc: "(width <= 1440px)",
    phone: "(width <= 1000px)",
    min: "(width <= 600px)",
  );

  @return "screen and " + map.get($media-size, $size);
}

@mixin max-width() {
  @media #{query(large)} {
    max-width: 25%;
  }

  @media #{query(middle)} {
    max-width: 25%;
  }

  @media #{query(pc)} {
    max-width: 33%;
  }

  @media #{query(phone)} {
    max-width: 50%;
  }

  @media #{query(min)} {
    max-width: 100%;
  }
}

@mixin padding($target: around) {
  $properties: (
    around: "padding",
    top: "padding-top",
    right: "padding-right",
    bottom: "padding-bottom",
    left: "padding-left",
  );
  $property: map.get($properties, $target);

  @media #{query(large)} {
    #{$property}: 10%;
  }

  @media #{query(middle)} {
    #{$property}: 9%;
  }

  @media #{query(pc)} {
    #{$property}: 8%;
  }

  @media #{query(phone)} {
    #{$property}: 6%;
  }

  @media #{query(min)} {
    #{$property}: 4%;
  }
}
