@use "sass:map";

@function query($size) {
  $media-size: (
    large: "(min-width: 1600px)",
    middle: "(max-width: 1030px)",
    pc: "(min-width: 600px)",
    phone: "(max-width: 600px)",
    min: "(max-width: 360px)",
  );

  @return "screen and " + map.get($media-size, $size);
}

@mixin max-width() {
  @media #{query(pc)} {
    max-width: 33%;
  }

  @media #{query(large)} {
    max-width: 25%;
  }

  @media #{query(middle)} {
    max-width: 50%;
  }

  @media #{query(phone)} {
    max-width: 100%;
  }
}

@mixin padding($target: around) {
  $properties: (
    around: "padding",
    top: "padding-top",
    right: "padding-right",
    bottom: "padding-bottom",
    left: "padding-left",
  );
  $property: map.get($properties, $target);

  @media #{query(pc)} {
    #{$property}: 10%;
  }

  @media #{query(large)} {
    #{$property}: 5%;
  }

  @media #{query(phone)} {
    #{$property}: 3%;
  }
}
