@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap&text=A.Q");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 1.5rem;
}

*:root {
  font-size: 100%;
}
