@use "color.variable";
@use "sass:map";

@import url("https://cdn.jsdelivr.net/npm/yakuhanjp@3.3.1/dist/css/yakuhanjp.min.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  @include color.text();
  @include color.neutral(dark, back);

  font-family:
    YakuHanJP,
    Roboto,
    "Noto Sans JP",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  @include color.text();

  text-decoration: none;
}

ul {
  padding-left: 1.5rem;
}

*:root {
  font-size: 100%;
}

::selection {
  @include color.main(light, back);
}
