@use "color.variable";
@use "sass:map";

@import url("https://cdn.jsdelivr.net/npm/yakuhanjp@3.3.1/dist/css/yakuhanjp.min.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  color: color.get-text-color("main");
  font-family: YakuHanJP, Roboto, "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 1.5rem;
}

*:root {
  font-size: 100%;
}

::selection {
  background-color: color.get-main-color("light");
}

// Firefox
::-moz-selection {
  background-color: color.get-main-color("light");
}
