@use "color.variable";
@use "details.variable";

.mainContents {
  flex: 1;
  min-width: 100%;
  min-height: 100vh;

  @include details.flex-style();
}

.wrapper {
  flex-flow: column;
  width: 100%;
  margin-bottom: auto;

  @include details.flex-style();
}

.page {
  @extend .wrapper;

  min-height: 100vh;
}

.home {
  @extend .wrapper;

  min-height: 100vh;
}

.layout {
  @extend .wrapper;

  padding: 0 details.$padding;
}

.enumerate-contents-wrapper {
  @extend .layout;

  flex-flow: row wrap;
  justify-content: flex-start;

  @media #{details.$isPhone} {
    flex-direction: column;
    justify-content: end;
  }
}

.cardWrapper {
  @extend .wrapper;

  @include details.components-size();
  @include phone();
}

.card {
  @include details.fully-spread();
  @include details.flex-style(nowrap, flex-start);
  @include details.make-padding(details.$isPc);

  @media #{details.$large} {
    @include details.make-padding(details.$large);
  }

  @media #{details.$isPhone} {
    text-align: left;

    @include details.make-padding(details.$isPhone);
  }
}
