@use "color.variable";
@use "details.variable";

@mixin wrapper {
  flex-flow: column;
  width: 100%;
  margin-bottom: auto;

  @include details.flex-style();
}

.wrapper {
  @include wrapper();
}

@mixin page {
  @include wrapper();

  min-height: 100vh;
}

.page {
  @include page();
}

@mixin layout {
  @include wrapper();

  padding: 0 details.$padding;
}

@mixin enumerate-contents-wrapper {
  @include layout();

  flex-flow: row wrap;
  justify-content: flex-start;

  @media #{details.get-media-query(phone)} {
    flex-direction: column;
    justify-content: flex-end;
  }
}
