@use "details.variable";

.mainContents {
  flex: 1;
  min-width: 100%;
  min-height: 100vh;

  @include details.flex-style();
}

.wrapper {
  flex-flow: column;
  width: 100%;
  margin-bottom: auto;

  @include details.flex-style();
}

.page {
  @extend .wrapper;

  min-height: 100vh;
}

.home {
  @extend .wrapper;

  min-height: 100vh;
}

.layout {
  @extend .wrapper;

  padding: 0 details.$padding;
}

.enumerate-contents-wrapper {
  @extend .layout;

  flex-flow: row wrap;
  justify-content: flex-start;

  @media #{details.$isPhone} {
    flex-direction: column;
    justify-content: end;
  }
}

.avatarWrapper,
.avatar {
  height: 100%;

  @include details.cancel-background-color();
}

.avatar {
  width: 37%;
  object-fit: contain;
  padding-right: 5%;

  @media #{details.$isPhone} {
    width: 30%;
  }
}
